---
import Buttons from "../../widgets/wb.astro"
import Layout from "../../layouts/main.astro"
---
<Layout>
    <div slot="main">
        <h2>Count: 73 buttons</h2>
        <Buttons />
    </div>
</Layout>