---
import Layout from "../layouts/main.astro"
---
<Layout>
    <div slot="main">
		<div class="aboutmehome">
			<img src="/media/img/icon.png" alt="logo" height="200px" width="200px" />
			<div class="textamh">
				<h2>Hello, I'm Cris - @crislzy!</h2>
				<p>I'm a teen wanna-be developer from Romania who likes to mess with tech and to code.</p>
                <p>A proud HackClub member!<a href="https://hackclub.com" target="_blank"><img src="https://assets.hackclub.com/flag-standalone.svg" alt="HC Banner" height=15px width=auto></a>
                <p><strong>Coding languages:</strong> Python, HTML, CSS, A bit of JavaScript and C++</p>
                <p><strong>Currently Learning:</strong> C++, JavaScript</p>
                <p><strong>Projects:</strong> <a href="/projects">My Projects</a></p>
                <p><strong>Blog:</strong> <a href="/blog">My Blog</a></p>
                <p><strong>Contact:</strong> <a href="mailto:me@crislzy.xyz">me@crislzy.xyz</a></p>
                <p><strong>Fun facts:</strong> I love cats :3 | Lzy from my name means lazy</p>
				<div class="platform-links">
					<a href="https://github.com/GamerCristi11"><i class="fab fa-github fa-2x"></i></a>
                    <a href="https://crislzy.itch.io"><i class="fab fa-itch-io fa-2x"></i></a>
				</div>
			</div>
		</div>
    </div>
    <style>
        a {
            padding: 0;
        }
    </style>
</Layout>