---
import Layout from "../layouts/main.astro"
---

<Layout>
	<div slot="top">
	</div>
	<div slot="main">
        <h2>Contact me:</h2>
        <ul>
            <li>Email: <a href="mailto:me@crislzy.xyz">me [at] crislzy [dot] xyz</a></li>
            <li>Discord: <a href="https://discord.com/users/920617892444258305" target="_blank">Cris (@crislzy)</a></li>
        </ul>
	</div>
</Layout>