---
import Layout from "../layouts/main.astro"
---

<Layout>
	<div slot="top">
	</div>
	<div slot="main">
		<div class="aboutmehome">
			<img src="/media/img/icon.png" alt="logo" height="200px" width="200px" />
			<div class="textamh">
				<h2>Hello unique visitor <script type="text/javascript" src="https://counter.websiteout.com/js/7/4/0/1"></script></h2>
				<p>I'm CrisLzy(previously Code2Craft), I'm a teen wanna-be developer from Romania who likes to mess with tech and to code.</p>
				<p>Also I'm a proud HackClub member!<a href="https://hackclub.com" target="_blank"><img src="https://assets.hackclub.com/flag-standalone.svg" alt="HC Banner" height=15px width=auto></a>  <a href="/about">See more info</a></p>
				<div class="platform-links">
					<a href="https://github.com/GamerCristi11"><i class="fab fa-github fa-2x"></i></a>
					<a href="https://crislzy.itch.io"><i class="fab fa-itch-io fa-2x"></i></a>
				</div>
			</div>
		</div>
		<h2>Statuses</h2>
		<div class="statuses">
			<div class="status">
				<p id="listening">Loading song...</p>
				<p id="mlistening">Loading...</p>
				<script>
				const BASE_URL = 'https://lastfm-last-played.biancarosa.com.br/crisc2c/latest-song';

				const lastfmthing = async () => {
					try {
					const request = await fetch(BASE_URL);
					const json = await request.json();

					let isPlaying = json.track['@attr']?.nowplaying === "true";

					let title = json.track.name || "Unknown Title";
					let artist = json.track.artist['#text'] || "Unknown Artist";



						document.getElementById("listening").textContent =
							(isPlaying ? "Now listening: " : "Last listened: ");
						document.getElementById("mlistening").textContent =  title + " - " + artist;

					} catch (err) {
						
						document.getElementById("listening").textContent = "Could not load track";
					}
				};
				lastfmthing();
				setInterval(lastfmthing, 10000);
				</script>
			</div>
			<div class="status">
				<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content">Loading Status...</div></div>
				<script>
				fetch("https://status.cafe/users/code2craft/status.json")
				.then( r => r.json() )
				.then( r => {
					if (!r.content.length) {
					document.getElementById("statuscafe-content").innerHTML = "No status yet."
					return
					}
					document.getElementById("statuscafe-username").innerHTML =   `<p class="sc-up">My Status: ${r.face} ${r.timeAgo}</p>`
					document.getElementById("statuscafe-content").innerHTML =  `<p class="sc-content">${r.content}</p>`
				})
				</script>
			</div>
			<div class="status" style="display: flex; align-items: center;">
				<div class="thing">
					<div class="discord">
						<p id="status-details">loading...</p>
					</div>
				</div>
				<script>
				async function discordChecker() {
					try {
					const response = await fetch('https://api.lanyard.rest/v1/users/920617892444258305');
					const splingus = await response.json();
					document.getElementById("status-details").innerHTML = `
					Discord Status: I'm <strong>${splingus.data.discord_status}</strong>`
					} catch (error) {
					
					}
				};

				discordChecker();
				setInterval(discordChecker, 5000);
				</script>
			</div>
		</div>
	</div>
</Layout>