---
import Layout from "../layouts/main.astro"
---

<Layout>
	<div slot="top">
	</div>
	<div slot="main">
        <h2>Other random pages on my website</h2>
        <div class="othstuffmain">
            <div class="othstuff" onclick="window.location.href = '/otherstuff/buttonswall'">
                <h2>Website buttons</h2>
        </div>
	</div>
</Layout>